# COURSERA CAPSTONE - ROAD ACCIDENTS IN THE UK
*By: Rodolpho Pereira, Oct/2020*

### This notebook will be used for the Coursera Capstone Project in Data Science Professional Certificate.

In [243]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [244]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Table of Contents

<ul>
    <a href="#1.-INTRODUCTION">1. INTRODUCTION </a>  
    <ul>
        <a href="#1.1-About-the-Data">1.1 About the Data </a>  
    </ul>
<a href="#2.-DATA-PREPARATION">2. DATA PREPARATION </a>  
    <ul>
        <a href="#2.1-Extracting-Data">2.1 Extracting Data </a><br>  
        <a href="#2.2-Cleaning-Data">2.2 Cleaning Data </a><br>  
        <ul>
            <a href="#2.2.1-Dropping-Features">2.2.1 Dropping Features </a><br>
            <a href="#2.2.2-Merging-the-Dataframes">2.2.2 Merging the Dataframes </a><br>
            <a href="#2.2.3-Dropping-Rows:-Missing-Data">2.2.3 Dropping Rows: Missing Data</a><br>
        </ul>
        <a href="#2.3-Evaluating-Data">2.3 Evaluating Data</a><br>
        <a href="#2.4-Pre-Processing-Data">2.4 Pre-Processing Data</a><br>
    </ul>
    <a href="#3.-MODELLING">3. MODELLING </a>

# 1. INTRODUCTION
*Back to <a href="#Table-of-Contents">Table of Contents</a>.*

This analysis will evaluate two datasets from road accidents in the UK, pulling data from 2005 to 2016. The objective is to find important correlations to predict road accidents severity. These correlations can be used to drive government campaigns toward a safer traffic behaviour.

## 1.1 About the Data

The first dataset, [Accident_Information.csv](https://www.kaggle.com/tsiaras/uk-road-safety-accidents-and-vehicles?select=Accident_Information.csv), contains information about external conditions that can influence the frequency and severity of the accidents.

The second dataset, [Vehicle_Information.csv](https://www.kaggle.com/tsiaras/uk-road-safety-accidents-and-vehicles?select=Vehicle_Information.csv), contains information about the vehicles and drivers involved in the accidents.

The datasets are linked by the Accidents_Index column.

# 2. DATA PREPARATION
*Back to <a href="#Table-of-Contents">Table of Contents</a>.*

## 2.1 Extracting the Data

The Accidents_Information.csv dataset is loaded into the dataframe `accidents`.
The Vehicle_Information.csv dataset is loaded into the dataframe `vehicles`.

In [245]:
accidents = pd.read_csv(r'C:\Users\rodol\Documents\Data Science\9. Applied Data Science Capstone\Data Sets\Accident_Information.csv')
vehicles = pd.read_csv(r'C:\Users\rodol\Documents\Data Science\9. Applied Data Science Capstone\Data Sets\Vehicle_Information.csv', encoding='ISO-8859-1')

Let's check the number of records (Index) and the number of columns (Features) available in each dataset:

In [246]:
print('Accidents Records:', accidents.shape[0], '\nAccidents Columns:', accidents.shape[1])
print('Vehicle Records:', vehicles.shape[0], '\nVehicle Columns:', vehicles.shape[1])

Accidents Records: 2047256
Accidents Columns: 34
Vehicle Records: 2177205
Vehicle Columns: 24

## 2.2 Cleaning Data
*Back to <a href="#Table-of-Contents">Table of Contents</a>.*
### 2.2.1 Dropping Features
Now, we can look into the features and their types, and decide which should be dropped out of the dataset (i.e. basic information that likely will not serve as good predictors for accidents severity).

In [247]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2047256 entries, 0 to 2047255
Data columns (total 34 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   Accident_Index                               object
 1   1st_Road_Class                               object
 2   1st_Road_Number                              float64
 3   2nd_Road_Class                               object
 4   2nd_Road_Number                              float64
 5   Accident_Severity                            object
 6   Carriageway_Hazards                          object
 7   Date                                         object
 8   Day_of_Week                                  object
 9   Did_Police_Officer_Attend_Scene_of_Accident  float64
 10  Junction_Control                             object
 11  Junction_Detail                              object
 12  Latitude                                     float64
 13  Light_Conditions                             object
 14  Local_Authority_(District)                   object
 15  Local_Authority_(Highway)                    object
 16  Location_Easting_OSGR                        float64
 17  Location_Northing_OSGR                       float64
 18  Longitude                                    float64
 19  LSOA_of_Accident_Location                    object
 20  Number_of_Casualties                         int64
 21  Number_of_Vehicles                           int64
 22  Pedestrian_Crossing-Human_Control            float64
 23  Pedestrian_Crossing-Physical_Facilities      float64
 24  Police_Force                                 object
 25  Road_Surface_Conditions                      object
 26  Road_Type                                    object
 27  Special_Conditions_at_Site                   object
 28  Speed_limit                                  float64
 29  Time                                         object
 30  Urban_or_Rural_Area                          object
 31  Weather_Conditions                           object
 32  Year                                         int64
 33  InScotland                                   object
dtypes: float64(10), int64(3), object(21)
memory usage: 531.1+ MB

By simple evaluation of the description of the features, it gets clear which ones can be dropped out of the `accidents` dataframe:  
**1st_Road_Class | 1st_Road_Number | 2nd_Road_Class | 2nd_Road_Number | Did_Police_Officer_Attend_Scene_of_Accident | Latitude | Local_Authority_(District) | Local_Authority_(Highway) | Location_Easting_OSGR | Location_Northing_OSGR | Longitude | LSOA_of_Accident_Location | InScotland**

In [248]:
accidents.drop(columns=['1st_Road_Class', '1st_Road_Number', '2nd_Road_Class', '2nd_Road_Number', \
                        'Did_Police_Officer_Attend_Scene_of_Accident', 'Latitude', 'Local_Authority_(District)', \
                        'Local_Authority_(Highway)', 'Location_Easting_OSGR', 'Location_Northing_OSGR', 'Longitude', \
                        'LSOA_of_Accident_Location', 'InScotland'
                       ], inplace=True)

Checking the features from the `vehicles` dataframe to select which ones can be dropped:

In [249]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2177205 entries, 0 to 2177204
Data columns (total 24 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Accident_Index                    object
 1   Age_Band_of_Driver                object
 2   Age_of_Vehicle                    float64
 3   Driver_Home_Area_Type             object
 4   Driver_IMD_Decile                 float64
 5   Engine_Capacity_.CC.              float64
 6   Hit_Object_in_Carriageway         object
 7   Hit_Object_off_Carriageway        object
 8   Journey_Purpose_of_Driver         object
 9   Junction_Location                 object
 10  make                              object
 11  model                             object
 12  Propulsion_Code                   object
 13  Sex_of_Driver                     object
 14  Skidding_and_Overturning          object
 15  Towing_and_Articulation           object
 16  Vehicle_Leaving_Carriageway       object
 17  Vehicle_Location.Restricted_Lane  float64
 18  Vehicle_Manoeuvre                 object
 19  Vehicle_Reference                 int64
 20  Vehicle_Type                      object
 21  Was_Vehicle_Left_Hand_Drive       object
 22  X1st_Point_of_Impact              object
 23  Year                              int64
dtypes: float64(4), int64(2), object(18)
memory usage: 398.7+ MB

The same analysis applied to the `vehicles` dataframe leads to remove the following features:  
**make | model | Propulsion_Code**

In [250]:
vehicles.drop(columns=['make', 'model', 'Propulsion_Code'], inplace=True)

The `Accident_Severity` is the variable aimed to be predicted (target or dependable variable).

It is not clear if the remaining features can be good predictors of accident severity, so every feature is explored to evaluate the types and count of data in each one, to determine if it should be dropped or kept in the dataframe.

**IF THE READER PREFER TO JUMP THIS EVALUATION, <a href="#2.3-Merging-the-Dataframes">CLICK HERE </a>.**

To avoid a huge analysis, this notebook will only present the `value_counts` for the features that will be dropped, in order to justify that. If the feature seems promising for the analysis, it will be kept but the `value_counts` will not be presented.

In [251]:
accidents['Carriageway_Hazards'].value_counts(dropna=False)

None                                               2007807
Other object on road                                 16111
Any animal in carriageway (except ridden horse)      10416
Pedestrian in carriageway - not injured               4684
Previous accident                                     3105
Data missing or out of range                          2746
Vehicle load on road                                  2387
Name: Carriageway_Hazards, dtype: int64

The vast majority of the accidents fall under "None" for the feature `Carriageway_Hazards`. The rest of the values could be investigated to find if they correlate to the `Accident_Severity`. Since the main objective is to generate a Machine Learning model that takes into account several features, it's decided to drop the feature.

In [252]:
accidents.drop(columns=['Carriageway_Hazards'], inplace=True)

In [253]:
accidents['Junction_Control'].value_counts(normalize=True, dropna=False)

Give way or uncontrolled               0.482750
Data missing or out of range           0.368450
Auto traffic signal                    0.103228
Not at junction or within 20 metres    0.037760
Stop sign                              0.006024
Authorised person                      0.001788
Name: Junction_Control, dtype: float64

For the `Junction_Control` feature, the value "Data missing or out of range" corresponds to ~37% of the data. So this feature also will be removed.

In [254]:
accidents.drop(columns=['Junction_Control'], inplace=True)

In [255]:
accidents['Number_of_Casualties'].value_counts(dropna=False)

1     1576667
2      324486
3       92664
4       33337
5       12306
6        4575
7        1567
8         674
9         329
10        190
11        114
12         65
13         50
14         37
15         25
16         22
17         20
19         15
18         12
22         11
21         11
26          8
27          6
29          6
24          5
23          5
36          4
25          4
42          4
20          4
38          2
51          2
45          2
43          2
40          2
41          2
35          2
34          2
33          2
87          2
28          2
58          1
70          1
68          1
63          1
62          1
32          1
54          1
48          1
47          1
46          1
93          1
Name: Number_of_Casualties, dtype: int64

The imbalanced data from the number of casualties makes this feature a complicated one to deal with. Also, casualties are a consequence of the accident, not a cause for it (mostly). Therefore, it is not a good feature to predict `Accident_Severity`.

In [256]:
accidents.drop(columns=['Number_of_Casualties'], inplace=True)

In [257]:
accidents['Pedestrian_Crossing-Human_Control'].value_counts(dropna=False)

0.0    2031163
2.0       8123
1.0       5050
NaN       2920
Name: Pedestrian_Crossing-Human_Control, dtype: int64

Unbalanced data which it is not totally clear that can affect accident severity is removed.

In [258]:
accidents.drop(columns=['Pedestrian_Crossing-Human_Control'], inplace=True)

In [259]:
accidents['Pedestrian_Crossing-Physical_Facilities'].value_counts(dropna=False)

0.0    1695605
5.0     138133
4.0     109447
1.0      55785
8.0      39135
7.0       5591
NaN       3560
Name: Pedestrian_Crossing-Physical_Facilities, dtype: int64

Again, imbalanced data with no clear relation.

In [260]:
accidents.drop(columns=['Pedestrian_Crossing-Physical_Facilities'], inplace=True)

The `Police_Force` feature returns which police was involved, so no relation to `Accident_Severity`.

In [261]:
accidents.drop(columns=['Police_Force'], inplace=True)

The features `Number_of_Vehicles` and `Road_Type` have imbalanced values, but can have a good correlation with the `Accident_Severity`. This data shall be treated to deal with the imbalanced data.

The feature `Special_Conditions_at_Site` will have a separated analysis out of curiosity. The "None" results will be dropped, but several values will remain to understand if some special conditions can contribute to an accident severity.

This feature will be separated into a new dataframe for further analysis.

In [262]:
special_conditions = accidents[['Accident_Severity', 'Special_Conditions_at_Site']]
special_conditions.head(5)

  Accident_Severity Special_Conditions_at_Site
0           Serious                       None
1            Slight                       None
2            Slight                       None
3            Slight                       None
4            Slight                       None

In [263]:
accidents.drop(columns=['Special_Conditions_at_Site'], inplace=True)

Besides the dropped ones (and the `Special_Conditions_at_Site`), all the remaining features are considered as potential predictors for the `Accident_Severity`. These will be considered in the analysis.

The same evaluation is performed for the `vehicles` dataframe.

In [264]:
vehicles['Age_of_Vehicle'].value_counts(dropna=False)

NaN      358149
1.0      180333
2.0      161072
3.0      148665
4.0      144493
          ...
104.0         1
84.0          1
77.0          1
111.0         1
105.0         1
Name: Age_of_Vehicle, Length: 89, dtype: int64

The `Age_of_Vehicle` feature will not be considered, since the vast majority of information fall under `NaN`, and the data seems high imbalanced.

In [265]:
vehicles.drop(columns=['Age_of_Vehicle'], inplace=True)

In [266]:
vehicles['Driver_Home_Area_Type'].value_counts(normalize=True, dropna=False)

Urban area                      0.659836
Data missing or out of range    0.153566
Rural                           0.106724
Small town                      0.079874
Name: Driver_Home_Area_Type, dtype: float64

15% of the data is missing or out of range. Although the dataset wouldn't be so affected by removing these values, the `Driver_Home_Area_Type` does not appear to be a good predictor of accident severity, and if used in a campaign could be seen as prejudicious.

In [267]:
vehicles.drop(columns=['Driver_Home_Area_Type'], inplace=True)

In [268]:
vehicles['Driver_IMD_Decile'].value_counts(normalize=True, dropna=False)

NaN     0.337502
3.0     0.069528
4.0     0.069386
2.0     0.069385
5.0     0.069064
6.0     0.068598
7.0     0.066406
1.0     0.065193
8.0     0.064568
9.0     0.062834
10.0    0.057536
Name: Driver_IMD_Decile, dtype: float64

Also, this information doesn't seem to be relevant for predicting accident severity. The lack of description from a metadata section supports the decision to eliminate this feature.

In [269]:
vehicles.drop(columns=['Driver_IMD_Decile'], inplace=True)

In [270]:
vehicles['Engine_Capacity_.CC.'].value_counts(dropna=False)

NaN       265861
1598.0    106974
1997.0     58426
1998.0     57105
1242.0     55284
           ...
3974.0         1
8670.0         1
3966.0         1
3961.0         1
1268.0         1
Name: Engine_Capacity_.CC., Length: 2557, dtype: int64

Again, high imbalanced data that doesn't seem to contribute to the analysis.

In [271]:
vehicles.drop(columns=['Engine_Capacity_.CC.'], inplace=True)

In [272]:
vehicles['Hit_Object_in_Carriageway'].value_counts(dropna=False)

None                                2087824
Kerb                                  34354
Parked vehicle                        27401
Bollard or refuge                      9981
Other object                           5715
Any animal (except ridden horse)       2683
Central island of roundabout           2190
Open door of vehicle                   1919
Bridge (side)                          1441
Data missing or out of range           1302
Previous accident                      1023
Road works                              957
Bridge (roof)                           415
Name: Hit_Object_in_Carriageway, dtype: int64

Although the majority of data falls under "None", the rest of the data will be evaluated separately to determine if the `Hit_Object_in_Carriageway` can be correlated to the `Accident_Severity`.

In [273]:
HOinC = vehicles[['Accident_Index', 'Hit_Object_in_Carriageway']]
HOinC.head()

  Accident_Index Hit_Object_in_Carriageway
0  200401BS00001                      None
1  200401BS00002                      None
2  200401BS00003                      None
3  200401BS00003                      None
4  200401BS00004                      None

In [274]:
vehicles.drop(columns=['Hit_Object_in_Carriageway'], inplace=True)

In [275]:
vehicles['Hit_Object_off_Carriageway'].value_counts(dropna=False)

None                             1989741
Other permanent object             56640
Tree                               29161
Entered ditch                      18301
Road sign or traffic signal        17394
Central crash barrier              16538
Near/Offside crash barrier         15835
Lamp post                          15293
Wall or fence                      10423
Telegraph or electricity pole       5828
Bus stop or bus shelter             1300
Data missing or out of range         533
Submerged in water                   218
Name: Hit_Object_off_Carriageway, dtype: int64

The same applies to the feature `Hit_Object_in_Carriageway`.

In [276]:
HOinC['Hit_Object_off_Carriageway'] = vehicles['Hit_Object_off_Carriageway']
hit_objects = HOinC
hit_objects.head()

  Accident_Index Hit_Object_in_Carriageway Hit_Object_off_Carriageway
0  200401BS00001                      None                       None
1  200401BS00002                      None                       None
2  200401BS00003                      None                       None
3  200401BS00003                      None                       None
4  200401BS00004                      None                       None

In [277]:
vehicles.drop(columns=['Hit_Object_off_Carriageway'], inplace=True)

In [278]:
vehicles['Journey_Purpose_of_Driver'].value_counts(dropna=False)

Not known                       834626
Other/Not known (2005-10)       555726
Journey as part of work         391713
Commuting to/from work          202525
Data missing or out of range    133560
Other                            32965
Taking pupil to/from school      21792
Pupil riding to/from school       4298
Name: Journey_Purpose_of_Driver, dtype: int64

The majority of data doesn't add information, so the feature will be removed.

In [279]:
vehicles.drop(columns=['Journey_Purpose_of_Driver'], inplace=True)

In [280]:
vehicles['Skidding_and_Overturning'].value_counts(dropna=False)

None                            1898208
Skidded                          199825
Skidded and overturned            42339
Overturned                        34100
Jackknifed                         1127
Data missing or out of range       1015
Jackknifed and overturned           591
Name: Skidding_and_Overturning, dtype: int64

In [281]:
parallel_analysis = hit_objects
parallel_analysis['Skidding_and_Overturning'] = vehicles['Skidding_and_Overturning']
parallel_analysis.head()

,Accident_Index,Hit_Object_in_Carriageway,Hit_Object_off_Carriageway,Skidding_and_Overturning
0,200401BS00001,None,None,None
1,200401BS00002,None,None,None
2,200401BS00003,None,None,None
3,200401BS00003,None,None,None
4,200401BS00004,None,None,None

In [282]:
vehicles.drop(columns=['Skidding_and_Overturning'], inplace=True)

In [283]:
vehicles['Towing_and_Articulation'].value_counts(dropna=False)

No tow/articulation             2136394
Articulated vehicle               26930
Single trailer                     8855
Other tow                          2002
Caravan                            1332
Data missing or out of range       1176
Double or multiple trailer          516
Name: Towing_and_Articulation, dtype: int64

This information is not considered relevant for the prediction of accident severity.

In [284]:
vehicles.drop(columns=['Towing_and_Articulation'], inplace=True)

In [285]:
vehicles['Vehicle_Leaving_Carriageway'].value_counts(dropna=False)

Did not leave carriageway                1922892
Nearside                                  131169
Offside                                    67104
Nearside and rebounded                     17237
Offside on to central reservation          10798
Offside and rebounded                       8863
Straight ahead at junction                  8096
Offside on to centrl res + rebounded        7677
Offside - crossed central reservation       2151
Data missing or out of range                1218
Name: Vehicle_Leaving_Carriageway, dtype: int64

This feature will be saved with the parallel_analysis for further investigation. It doesn't seem promising, but some information can be retrieved.

In [286]:
parallel_analysis['Vehicle_Leaving_Carriageway'] = vehicles['Vehicle_Leaving_Carriageway']

In [287]:
vehicles.drop(columns=['Vehicle_Leaving_Carriageway'], inplace=True)

In [288]:
vehicles['Vehicle_Location.Restricted_Lane'].value_counts(dropna=False)

0.0    2135969
9.0      14001
2.0       9724
6.0       5945
8.0       2746
4.0       2432
3.0       1488
NaN       1317
7.0       1302
5.0       1200
1.0       1081
Name: Vehicle_Location.Restricted_Lane, dtype: int64

This feature doesn't make sense without metadata, so it will be dropped.

In [289]:
vehicles.drop(columns=['Vehicle_Location.Restricted_Lane'], inplace=True)

In [290]:
vehicles['Vehicle_Reference'].value_counts(dropna=False)

1     1202113
2      809191
3      125564
4       28518
5        7221
       ...
39          1
38          1
37          1
35          1
91          1
Name: Vehicle_Reference, Length: 63, dtype: int64

Again, another value that have no significance without the metadata.

In [291]:
vehicles.drop(columns=['Vehicle_Reference'], inplace=True)

In [292]:
vehicles['Vehicle_Type'].value_counts(dropna=False)

Car                                      1528628
Van / Goods 3.5 tonnes mgw or under       117427
109                                        82920
Bus or coach (17 or more pass seats)       76757
Motorcycle over 500cc                      71472
Motorcycle 125cc and under                 61600
Goods 7.5 tonnes mgw and over              55426
Taxi/Private hire car                      43781
Pedal cycle                                38904
Motorcycle 50cc and under                  22415
Motorcycle over 125cc and up to 500cc      20960
Goods over 3.5t. and under 7.5t            18236
Other vehicle                              13994
106                                         7568
Agricultural vehicle                        6018
Minibus (8 - 16 passenger seats)            5900
Goods vehicle - unknown weight              1876
108                                         1334
Motorcycle - unknown cc                      741
Mobility scooter                             502
Data missing or out of range                 401
Ridden horse                                 224
Electric motorcycle                           78
Tram                                          43
Name: Vehicle_Type, dtype: int64

This data seems promising for another analysis due to imbalance. It will be saved in the `parallel_analysis` dataframe.

In [293]:
parallel_analysis['Vehicle_Type'] = vehicles['Vehicle_Type']

In [294]:
vehicles.drop(columns=['Vehicle_Type'], inplace=True)

In [295]:
vehicles['Was_Vehicle_Left_Hand_Drive'].value_counts(dropna=False)

No                              2045375
Data missing or out of range     127943
Yes                                3887
Name: Was_Vehicle_Left_Hand_Drive, dtype: int64

Again an information that seems interesting but should be held in `parallel_analysis`.

In [296]:
parallel_analysis['Was_Vehicle_Left_Hand_Drive'] = vehicles['Was_Vehicle_Left_Hand_Drive']
vehicles.drop(columns=['Was_Vehicle_Left_Hand_Drive'], inplace=True)

The `year`feature in the `vehicles`dataframe will be dropped, but it will be maitained in the `accidents`dataframe.

In [297]:
#vehicles.drop(columns=['Year'], inplace=True)

### 2.2.2 Merging the Dataframes
*Back to <a href="#Table-of-Contents">Table of Contents</a>.*

The final features for the `accidents`and `vehicles`dataframes after cleaning are shown below. The `accidents` dataframe was reduced from 34 to 14 features. The `vehicles` dataframe was reduced from 24 to 6 features.

In [298]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2047256 entries, 0 to 2047255
Data columns (total 14 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Accident_Index           object
 1   Accident_Severity        object
 2   Date                     object
 3   Day_of_Week              object
 4   Junction_Detail          object
 5   Light_Conditions         object
 6   Number_of_Vehicles       int64
 7   Road_Surface_Conditions  object
 8   Road_Type                object
 9   Speed_limit              float64
 10  Time                     object
 11  Urban_or_Rural_Area      object
 12  Weather_Conditions       object
 13  Year                     int64
dtypes: float64(1), int64(2), object(11)
memory usage: 218.7+ MB

In [299]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2177205 entries, 0 to 2177204
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   Accident_Index        object
 1   Age_Band_of_Driver    object
 2   Junction_Location     object
 3   Sex_of_Driver         object
 4   Vehicle_Manoeuvre     object
 5   X1st_Point_of_Impact  object
 6   Year                  int64
dtypes: int64(1), object(6)
memory usage: 116.3+ MB

It is identified that the `vehicles`dataframe contains dupllicated values for the `Accident_Index`. To avoid errors, the duplicated values will be removed. The same will be applied to the `accidents` for verification.

In [300]:
print('accidents df before dropping duplicates: ', accidents.shape)
accidents.drop_duplicates(subset=['Accident_Index'], inplace=True)
print('accidents df after dropping duplicates: ', accidents.shape)
print('vehicles df before dropping duplicates: ', vehicles.shape)
vehicles.drop_duplicates(subset=['Accident_Index'], inplace=True)
print('vehicles df after dropping duplicates: ', vehicles.shape)

accidents df before dropping duplicates:  (2047256, 14)
accidents df after dropping duplicates:  (2047256, 14)
vehicles df before dropping duplicates:  (2177205, 7)
vehicles df after dropping duplicates:  (1488981, 7)

To merge the two dataframes, first let's make the `Accident_Index` feature the dataframe index.

In [301]:
road_accidents = accidents.merge(vehicles,on='Accident_Index')
print(road_accidents.shape)
road_accidents.head()

(1389724, 20)

,Accident_Index,Accident_Severity,Date,Day_of_Week,Junction_Detail,Light_Conditions,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Year_x,Age_Band_of_Driver,Junction_Location,Sex_of_Driver,Vehicle_Manoeuvre,X1st_Point_of_Impact,Year_y
0,200501BS00002,Slight,2005-01-05,Wednesday,Crossroads,Darkness - lights lit,1,Dry,Dual carriageway,30.0,17:36,Urban,Fine no high winds,2005,36 - 45,Leaving roundabout,Male,Slowing or stopping,Nearside,2005
1,200501BS00003,Slight,2005-01-06,Thursday,Not at junction or within 20 metres,Darkness - lights lit,2,Dry,Single carriageway,30.0,00:15,Urban,Fine no high winds,2005,26 - 35,Not at or within 20 metres of junction,Male,Going ahead right-hand bend,Nearside,2005
2,200501BS00004,Slight,2005-01-07,Friday,Not at junction or within 20 metres,Daylight,1,Dry,Single carriageway,30.0,10:35,Urban,Fine no high winds,2005,46 - 55,Not at or within 20 metres of junction,Female,Going ahead other,Front,2005
3,200501BS00005,Slight,2005-01-10,Monday,Not at junction or within 20 metres,Darkness - lighting unknown,1,Wet or damp,Single carriageway,30.0,21:13,Urban,Fine no high winds,2005,46 - 55,Not at or within 20 metres of junction,Male,Going ahead other,Front,2005
4,200501BS00006,Slight,2005-01-11,Tuesday,Not at junction or within 20 metres,Daylight,2,Wet or damp,Single carriageway,30.0,12:40,Urban,Raining no high winds,2005,46 - 55,Not at or within 20 metres of junction,Male,Moving off,Did not impact,2005

In [302]:
road_accidents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1389724 entries, 0 to 1389723
Data columns (total 20 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Accident_Index           1389724 non-null  object
 1   Accident_Severity        1389724 non-null  object
 2   Date                     1389724 non-null  object
 3   Day_of_Week              1389724 non-null  object
 4   Junction_Detail          1389724 non-null  object
 5   Light_Conditions         1389724 non-null  object
 6   Number_of_Vehicles       1389724 non-null  int64
 7   Road_Surface_Conditions  1389724 non-null  object
 8   Road_Type                1389724 non-null  object
 9   Speed_limit              1389687 non-null  float64
 10  Time                     1389623 non-null  object
 11  Urban_or_Rural_Area      1389724 non-null  object
 12  Weather_Conditions       1389724 non-null  object
 13  Year_x                   1389724 non-null  int64
 14  Age_Band_of_Driver       1389724 non-null  object
 15  Junction_Location        1389724 non-null  object
 16  Sex_of_Driver            1389724 non-null  object
 17  Vehicle_Manoeuvre        1389724 non-null  object
 18  X1st_Point_of_Impact     1389724 non-null  object
 19  Year_y                   1389724 non-null  int64
dtypes: float64(1), int64(3), object(16)
memory usage: 222.7+ MB

In [303]:
print(accidents.shape)
print(vehicles.shape)
print(road_accidents.shape)

(2047256, 14)
(1488981, 7)
(1389724, 20)

In [304]:
road_accidents.drop(columns=['Year_x'], inplace=True)
road_accidents.rename(columns={'Year_y':'Year'}, inplace=True)

### 2.2.3 Dropping Rows: Missing Data
*Back to <a href="#Table-of-Contents">Table of Contents</a>.*

To continue with cleaning the data, all the lines that contain "Data missing or out of range" or "NaN" shall be dropped from the dataset.

Let's evaluate our columns to see the amount of data that will be lost and check if the dataframe after the cleaning still have sufficient values for a valid analysis.

Obs.: if a feature doesn't have "Data missing or out of range" or "NaN" values, it will be not shown below.

In [305]:
road_accidents['Junction_Detail'].value_counts(dropna=False)

Not at junction or within 20 metres    547334
T or staggered junction                433921
Crossroads                             138306
Roundabout                             125337
Private drive or entrance               52513
Other junction                          38091
Slip road                               21384
More than 4 arms (not roundabout)       17005
Mini-roundabout                         15714
Data missing or out of range              119
Name: Junction_Detail, dtype: int64

In [306]:
# Let's call a variable ltbd which stands for "lines to be dropped".
# This will accumulate to check the max amount of data that can be lost.
ltbd = 119

In [307]:
road_accidents['Light_Conditions'].value_counts(dropna=False)

Daylight                        1033243
Darkness - lights lit            263087
Darkness - no lighting            71434
Darkness - lighting unknown       15414
Darkness - lights unlit            6533
Data missing or out of range         13
Name: Light_Conditions, dtype: int64

In [308]:
ltbd = ltbd + 13

In [309]:
road_accidents['Road_Surface_Conditions'].value_counts(dropna=False)

Dry                             963972
Wet or damp                     385442
Frost or ice                     27138
Snow                              8873
Data missing or out of range      2389
Flood over 3cm. deep              1910
Name: Road_Surface_Conditions, dtype: int64

In [310]:
ltbd = ltbd + 2389

In [311]:
road_accidents['Road_Type'].value_counts(dropna=False)

Single carriageway              1026273
Dual carriageway                 216720
Roundabout                        96317
One way street                    27254
Slip road                         15411
Unknown                            7748
Data missing or out of range          1
Name: Road_Type, dtype: int64

In [312]:
# The amount of Unknown values shall be considered in the lines to be dropped.
# If this leads to a huge amount of data loss, maybe it's better to reconsider the feature.
ltbd = ltbd + 1 + 7748

In [313]:
road_accidents['Speed_limit'].value_counts(dropna=False)

30.0    871836
60.0    215347
40.0    120081
70.0    108172
50.0     51287
20.0     22942
NaN         37
10.0        12
15.0         9
0.0          1
Name: Speed_limit, dtype: int64

In [314]:
# The values with NaN and 0 shall be dropped.
ltbd = ltbd + 37 + 1

In [315]:
road_accidents['Urban_or_Rural_Area'].value_counts(dropna=False)

Urban          884860
Rural          504792
Unallocated        72
Name: Urban_or_Rural_Area, dtype: int64

In [316]:
# The Unallocated values shall be dropped.
ltbd = ltbd + 72

In [317]:
road_accidents['Weather_Conditions'].value_counts(dropna=False)

Fine no high winds              1117199
Raining no high winds            162553
Other                             28687
Unknown                           25699
Raining + high winds              19382
Fine + high winds                 17429
Snowing no high winds              9397
Fog or mist                        7494
Snowing + high winds               1756
Data missing or out of range        128
Name: Weather_Conditions, dtype: int64

In [318]:
ltbd = ltbd + 128 + 25699

In [319]:
road_accidents['Age_Band_of_Driver'].value_counts(dropna=False)

26 - 35                         289561
36 - 45                         271912
46 - 55                         213800
21 - 25                         161468
56 - 65                         129164
16 - 20                         125082
Data missing or out of range     95539
66 - 75                          60247
Over 75                          40981
11 - 15                           1599
6 - 10                             332
0 - 5                               39
Name: Age_Band_of_Driver, dtype: int64

In [320]:
ltbd = ltbd + 95539

In [321]:
road_accidents['Junction_Location'].value_counts(dropna=False)

Not at or within 20 metres of junction                         546117
Approaching junction or waiting/parked at junction approach    305575
Mid Junction - on roundabout or on main road                   269308
Cleared junction or waiting/parked at junction exit             81871
Entering main road                                              76227
Entering roundabout                                             41524
Leaving main road                                               40062
Leaving roundabout                                              20552
Entering from slip road                                          5496
Data missing or out of range                                     2992
Name: Junction_Location, dtype: int64

In [322]:
ltbd = ltbd + 2992

In [323]:
road_accidents['Sex_of_Driver'].value_counts(dropna=False)

Male                            948765
Female                          401265
Not known                        39661
Data missing or out of range        33
Name: Sex_of_Driver, dtype: int64

In [324]:
ltbd = ltbd + 33 + 39661

In [325]:
road_accidents['Vehicle_Manoeuvre'].value_counts(dropna=False)

Going ahead other                      629742
Turning right                          163196
Slowing or stopping                    101832
Moving off                              69381
Waiting to go - held up                 67691
Going ahead right-hand bend             64232
Going ahead left-hand bend              59618
Turning left                            53609
Parked                                  32012
Overtaking moving vehicle - offside     30833
Reversing                               25569
Overtaking static vehicle - offside     18577
Waiting to turn right                   17487
Changing lane to left                   13896
Changing lane to right                  13723
U-turn                                  13389
Overtaking - nearside                    7320
Waiting to turn left                     6847
Data missing or out of range              770
Name: Vehicle_Manoeuvre, dtype: int64

In [326]:
ltbd = ltbd + 770

In [327]:
road_accidents['X1st_Point_of_Impact'].value_counts(dropna=False)

Front                           733440
Offside                         195160
Nearside                        192801
Back                            182133
Did not impact                   85265
Data missing or out of range       925
Name: X1st_Point_of_Impact, dtype: int64

In [328]:
ltbd = ltbd + 925

In [329]:
lines = road_accidents.shape[0]

In [330]:
print('Number of lines in the dataframe: ', lines)
print('Max amount of lines to be dropped: ', ltbd)
print('Max percentage of the data that will be lost: ', "{:.1%}".format(ltbd/lines))
print('Minimum number of lines remaining after dropping: ', lines - ltbd)

Number of lines in the dataframe:  1389724
Max amount of lines to be dropped:  176127
Max percentage of the data that will be lost:  12.7%
Minimum number of lines remaining after dropping:  1213597

The above evaluation shows that the maximum amount of data we can loose is 13% of the total by removing values that will not contribute to the analysis, still remaining more than 1 million lines to evaluate. This seems a pretty good amount of data to generate a model.

Since the same row can contain that values do be dropped in more than one column, it's poossible that the remaining dataframe coontains more than 1,213,597 rows. Let's perform the cleaning and check the final result.

Let's start cleaning the rows of the unwanted values.

In [331]:
# From the previous evaluation, we know that removing rows will start at the column "Junction Detail", which has index 4.
for n in range(4, 19):
    drop_values = ['Data missing or out of range', 0.0, 'Unknown', 'Not known', 'Unallocated', 'NaN']
    for value in drop_values:
        delete_row = road_accidents[road_accidents.iloc[:,n]==value].index
        road_accidents = road_accidents.drop(delete_row)
print('The remaining number of rows in the dataframe is', road_accidents.shape[0])

The remaining number of rows in the dataframe is 1259793

So, we actually lost only 9.3% of the data after removing the rows with unwanted values, leaving us 1,259,793 lines with information to generate our model. Seems promising!

## 2.3 Evaluating Data
*Back to <a href="#Table-of-Contents">Table of Contents</a>.*

To guarantee the remaining features are worth to be considered in the model, let's check their values and confirm if they qualify as good predictors for an accident severity.

Please see **2.3 Understanding the Data** section of the final report to check the evaluation and what happens below.

In [344]:
road_accidents.drop(columns=['Junction_Location'], inplace=True)

In [345]:
road_accidents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1259793 entries, 0 to 1389723
Data columns (total 18 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Accident_Index           1259793 non-null  object
 1   Accident_Severity        1259793 non-null  object
 2   Date                     1259793 non-null  object
 3   Day_of_Week              1259793 non-null  object
 4   Junction_Detail          1259793 non-null  object
 5   Light_Conditions         1259793 non-null  object
 6   Number_of_Vehicles       1259793 non-null  int64
 7   Road_Surface_Conditions  1259793 non-null  object
 8   Road_Type                1259793 non-null  object
 9   Speed_limit              1259779 non-null  float64
 10  Time                     1259705 non-null  object
 11  Urban_or_Rural_Area      1259793 non-null  object
 12  Weather_Conditions       1259793 non-null  object
 13  Age_Band_of_Driver       1259793 non-null  object
 14  Sex_of_Driver            1259793 non-null  object
 15  Vehicle_Manoeuvre        1259793 non-null  object
 16  X1st_Point_of_Impact     1259793 non-null  object
 17  Year                     1259793 non-null  int64
dtypes: float64(1), int64(2), object(15)
memory usage: 182.6+ MB

In [347]:
road_accidents['X1st_Point_of_Impact'].value_counts()

Front             667388
Offside           180230
Nearside          174732
Back              164821
Did not impact     72622
Name: X1st_Point_of_Impact, dtype: int64

## 2.4 Pre-Processing Data
*Back to <a href="#Table-of-Contents">Table of Contents</a>.*

First, let's set the Accident_Index as Index.

In [354]:
road_accidents.set_index('Accident_Index', inplace=True)
road_accidents.head()

,Accident_Severity,Date,Day_of_Week,Junction_Detail,Light_Conditions,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Age_Band_of_Driver,Sex_of_Driver,Vehicle_Manoeuvre,X1st_Point_of_Impact,Year
Accident_Index,,,,,,,,,,,,,,,,,
200501BS00002,Slight,2005-01-05,Wednesday,Crossroads,Darkness - lights lit,1,Dry,Dual carriageway,30.0,17:36,Urban,Fine no high winds,36 - 45,Male,Slowing or stopping,Nearside,2005
200501BS00003,Slight,2005-01-06,Thursday,Not at junction or within 20 metres,Darkness - lights lit,2,Dry,Single carriageway,30.0,00:15,Urban,Fine no high winds,26 - 35,Male,Going ahead right-hand bend,Nearside,2005
200501BS00004,Slight,2005-01-07,Friday,Not at junction or within 20 metres,Daylight,1,Dry,Single carriageway,30.0,10:35,Urban,Fine no high winds,46 - 55,Female,Going ahead other,Front,2005
200501BS00005,Slight,2005-01-10,Monday,Not at junction or within 20 metres,Darkness - lighting unknown,1,Wet or damp,Single carriageway,30.0,21:13,Urban,Fine no high winds,46 - 55,Male,Going ahead other,Front,2005
200501BS00006,Slight,2005-01-11,Tuesday,Not at junction or within 20 metres,Daylight,2,Wet or damp,Single carriageway,30.0,12:40,Urban,Raining no high winds,46 - 55,Male,Moving off,Did not impact,2005

Now let's convert the "Date" feature to datetime format.

In [359]:
road_accidents['Date'] = pd.to_datetime(road_accidents['Date'], format="%Y-%m-%d")
road_accidents.dtypes

Accident_Severity                  object
Date                       datetime64[ns]
Day_of_Week                        object
Junction_Detail                    object
Light_Conditions                   object
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Speed_limit                       float64
Time                               object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Age_Band_of_Driver                 object
Sex_of_Driver                      object
Vehicle_Manoeuvre                  object
X1st_Point_of_Impact               object
Year                                int64
dtype: object